:root {
  --bg: url("/assets/images/bg/0.png");
  --text-color: #e1e1e1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  image-rendering: pixelated;
  color: var(--text-color);
}

body {
  background: linear-gradient(0deg, #2f2f85, #050540);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.blurred {
  backdrop-filter: blur(5px);
}
