:root {
  --bg: url("/assets/images/bg/0.png");
  --text-color: #e1e1e1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  image-rendering: pixelated;
  color: var(--text-color);
}

body {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: var(--bg);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-blend-mode: color;
}

.blurred {
  backdrop-filter: blur(5px);
}
