:root {
  --bg_image: url("/assets/images/bg/0.png");
  --bg_gradiant: linear-gradient(0deg, #020825, #170c2f); 
  --text-color: #e1e1e1;
  --font-family: "Renogore", "monospace";
}

@font-face {
    font-family: "Renogore";
    src: url("/fonts/renogare.otf")
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  image-rendering: pixelated;
  color: var(--text-color);
  font-family: var(--font-family);
}

body {
  /* background: linear-gradient(0deg, #2f2f85, #050540); */
    background: var(--bg_gradiant);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  /* background-color: rgba(0, 0, 0, .6); background-blend-mode: color; */
}

.blurred {
  backdrop-filter: blur(5px);
}
