name: Build and deploy

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node and pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Build
        run: |
          pnpm install
          pnpm build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages
